/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Permanent+Marker&display=swap');

/* All web app settings */
.App {
  text-align: center;
  background-color: red; /* can replace with background image */
}

/* headers (using google fonts) */
h1 {
  font-family: 'Audiowide', cursive;
  font-size: 8vmin;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 8vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
/* Will overwrite .App class because it's a level lower! */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
